<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="shoppingcarteapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="shoppingcarteapi-config" api="resource::72b2a063-0a26-4a5c-a320-b406b8b844ed:shoppingcarteapi:1.0.0:raml:zip:shoppingcarteapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="74d6c35c-77d8-4f69-b2c6-c2be0e84d509" file="mule-prop.yaml" />
    <http:request-config name="SCHTTP" doc:name="HTTP Request configuration" doc:id="dc6f1efb-cc83-47a0-9e4f-bb44efeac9c5" >
		<http:request-connection host="${sc.server}" />
	</http:request-config>
	<!--
	<api-gateway:autodiscovery apiId="17716047" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="c9936114-98f4-4f3c-a3aa-77b54c3c51e5" flowRef="shoppingcarteapi-main" />
	-->
</mule>
